<h1 class="text-center">Profile</h1>
<div class="d-flex flex-row ">
  <div class="card" style="width:500px" >
    <div class="card-header">
      <strong class="">Profile</strong>
    </div>
    <div class="card-body">
      <h4>Name :</h4>
      <%= @user.name %>
      
      <h4>Age :</h4>
      <%= @user.age %>
      
      <h4>Email :</h4>
      <%= @user.email %>
    </div>
  </div>
  <div style="padding: 0px 30px;">
    <p style="width: 70%; padding= 0px 30px;" class="text-center">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar , class: 'img-fluid') %>
      <% end %>
    </p>
  </div>
</div>
